<h1> These are the places I have visited! </h1>

<ul>
<% for place in @places %>
 <li>
   <a href="/place/<%= place.name %>"><%= place.name %></a>
 </li>
<% end %>
</ul>

<p><a href="/place/new">Create a new place</a></p>


