<h1><%= @place.name %></h1>

<h2>Posts</h2>

<ul>
  <% for post in @place.posts %>
    <li><%= "#{place.title}, #{place.description},#{place.posted_on},#{place.place_id},#{place.created_at},#{place.updated_at}"" %></li>
  <% end %>
</ul>

<p>
  <a href="/post/new?place_name=<%= @place.name %>">New Post</a>
</p>

<p><a href="/place">Back to All Place</a></p>

<p><%= button_to "Delete this place", @place, method: :delete %></p>